<section id='container'>
    <nav id='navBar'>
        <ul>
            <li>
                <a class='active' id='logo' href="#home">
                    <img id='logo' src="/images/logo.png">
                </a>
            </li>
            <li>
                <form id='searchBar' action="action_page.php">
                    <input type="text" placeholder="search..">
                    <button type="submit" id="searchB">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </li>
            <li>
                <a href="/songs/new">
                    <button>Upload your own</button>
                </a>
            </li>
            <li>
                <a href="/login">
                    <button>Sign in</button>
                </a>

            </li>
            <li>
                <a href="/register">
                    <button>Create account</button>
                </a>
            </li>
        </ul>
    </nav>

    <section id='main'>
        <img src="/images/border.jpg">
        <img src="/images/border.jpg">
    </section>
</section>