<nav id='navBar'>
    <ul>
        <li>
            <a class='active' id='logo' href="#home">
                <img id='logo' src="/images/logo.png">
            </a>
        </li>
        <li>
            <form id='searchBar' action="action_page.php">
                <input type="text" placeholder="search..">
                <button type="submit" id="searchB">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </li>
        <li>
            <a href="/songs/new">
                Upload your own
            </a>
        </li>
        <li>
            <a href="/login">Sign in</a>

        </li>
        <li>
            <a href="/register">Create account</a>
        </li>
    </ul>
</nav>