<nav id='navBar'>
    <ul>
        <li>
            <a class='active' id='logo' href="#home">
                <img id='logo' src="/images/logo.png">
            </a>
        </li>
        <li>
            <form id='searchBar' action="action_page.php">
                <input type="text" placeholder="search.." class='navB'>
                <button type="submit" id="searchB" class='navB'>
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </li>
        <li>
            <a href="/songs/new">
                <button class='navB'>Upload your own</button>
            </a>
        </li>
        <li>
            <a href="/login">
                <button class='navB'>Sign in</button>
            </a>

        </li>
        <li>
            <a href="/register">
                <button class='navB'>Create account</button>
            </a>
        </li>
    </ul>
</nav>