<div id="content">

  {{> header}}

  <div class="songs">
    {{#each songs}}
    <div class="songs-song">
      <a href="/song/{{id}}">
        <div class="songs-song-image" style="background-image: url(../icons/{{id}}.png)"></div>
      </a>
      <div class="songs-song-title">{{title}}</div>
      <div class="songs-song-username">{{username}}</div>
    </div>
    {{/each}}
  </div>

</div>