<div id='content'>
    {{> header}}

    <div id='trending'>
        <h3>Most Popular</h3>
        {{!-- {{#each trending}} --}}
        <div class='trendingArr'>
            <a href="#">
                <div class="trendingElm">
                    <img class='img' src="https://starwarsblog.starwars.com/wp-content/uploads/2018/03/star-wars-soundtrack-02.jpg">

                </div>
                <h4 class='title'>Lucid Dreams</h4>
                <h5 class='name'>xxxTeneacion</h5>
            </a>
        </div>
    </div>




    <div id="recent">
        <h3>Most Recent</h3>
    </div>
</div>