<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {{!-- method must be post and encType must be multipart/form-data --}}
    <form action="/song/new" method="post" encType='multipart/form-data'>
        {{!-- this must be type file --}}
        <input type="file" name="song" id="song">
        <button type="submit">add Song</button>
    </form>
</body>

</html>