html,
body {
  font-family: 'Libre Baskerville';
  margin: 0;
  height: 100%;
}

button,
input {
  font-family: 'Libre Baskerville';
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0;
  padding-left: 0;
  min-width: 659px;
  width: 100%;
  max-width: 960px;
}

li {
  list-style: none;
  font-size: 35px;
}

#logo {
  width: 200px;
}

#navBar {
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid grey;
  height: 70px;
  width: 100%;
  min-width: 659px;
  background-color: white;
}

.content {
  flex: 1 0 auto;
}

.auth-header {
  text-align: center;
  padding-top: 90px;
}

.auth-form > form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.auth-form > form > input {
  margin-bottom: 15px;
}
