{{> header}}

<div class="song-container">

  <div class="song-container-top">
    <div class="song-container-left">
      <div class="song-username">{{song.username}}</div>
      <div class="song-title">{{song.title}}</div>
      <audio controls>
        <source src="{{song.audio_link}}" type="audio/mpeg">
      </audio>
    </div>

    <div class="song-container-right">
      <div class="song-image" style="background-image: url(../../icons/1.png)"></div>
    </div>
  </div>

  <div class="song-container-bottom">
    <div class="song-options">
      <i data-feather="thumbs-up"></i>
      <i data-feather="thumbs-down"></i>
    </div>
  </div>

</div>
