{{> header}}

<div class="song-container">

  <div class="song-container-top">
    <div class="song-container-left">
      <div class="song-username">{{song.username}}</div>
      <div class="song-title">{{song.title}}</div>
      <audio controls>
        <source src="{{song.audio_link}}" type="audio/mpeg">
      </audio>
    </div>

    <div class="song-container-right">
      <div class="song-image" style="background-image: url(../../icons/1.png)"></div>
    </div>
  </div>

  <div class="song-container-bottom">
    <div class="song-options">
      <i id="thumbs-up" data-feather="thumbs-up" onclick="changeUp()"></i>
      <i id="thumbs-down" data-feather="thumbs-down" onclick="changeDown()"></i>
    </div>
  </div>

</div>

<script>
  function changeUp() {
    const elem = document.getElementById('thumbs-up')
    if (elem.style.fill === 'none') {
      elem.style.fill = '#e3cb82';
    } else {
      elem.style.fill = 'none';
    }
  }
  function changeDown() {
    const elem = document.getElementById('thumbs-down')
    if (elem.style.fill === 'none') {
      elem.style.fill = '#e3cb82';
    } else {
      elem.style.fill = 'none';
    }
  }
</script>
