{{> header}}

<div class="song-container">

  <div class="song-container-top">
    <div class="song-container-left">
      <div class="song-username">Username</div>
      <div class="song-title">Title</div>
      <audio controls>
        <source src="../audio/rave_digger.mp3" type="audio/mpeg">
      </audio>
    </div>

    <div class="song-container-right">
      <div class="song-image" style="background-image: url(../../icons/1.png)"></div>
    </div>
  </div>

  <div class="song-container-bottom">
    <div class="song-options">
      <i data-feather="thumbs-up"></i>
      <i data-feather="thumbs-down"></i>
    </div>
  </div>

</div>
